h1{
    color:rgb(255, 108, 108);
    margin:0;
}
p{
    padding-bottom: 1rem;
}

.form{
    background-color:rgb(255, 255, 255);
    width: 50rem;
    margin: 4rem auto;
    padding: 1rem;
    box-shadow: 2px 2px 20px 2px rgba(245, 170, 170, 0.904);

}

.error{
    width: 100%;
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.emptyError{
    padding: 1.125rem;
}

.fields{
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0;
    text-align: left;
}

.field{
    display: flex;
    margin: 0.5rem;    
}

.date{
    width: 3rem;
    text-align: center;
}

.ccv{
    width: 3rem;
}

.label{
    width: 150px;
}

.button{
    width: 6rem;
    padding: 0.5rem 1rem;
    margin: 2rem auto 1rem;
    border: none;
    background-color: rgb(255, 233, 233);
    color:rgb(255, 108, 108);
    font-weight: bold;
    text-transform: uppercase;
}

.text{
    text-align: center;
}